export PROJECT_NAME=
export FUNCTION_NAME=
export AWS_REGION=us-east-1
export PORT=9000
export AWS_USER=0000000000
export ECR_URI=AWS_USER.dkr.ecr.AWS_REGION.amazonaws.com/PROJECT_NAME:latest
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
